<div>
<form
        id="contactForm"
        name="sentMessage"
        action="{{ url_for('contact') }}"
        method="post"
>
    <div class="form-floating">
        <input
                class="form-control  pl-0"
                id="name"
                name="name"
                type="text"
                placeholder="Name"
                required
        />
        <label for="name"> Name</label>
    </div>
    <div class="form-floating">
        <input
                class="form-control  pl-0"
                id="email"
                name="email"
                type="email"
                placeholder="Email"
                required
        />
         <label for="email">Email address</label>
    </div>
    <div class="form-floating">
        <input
                class="form-control  pl-0"
                id="phone"
                name="phone"
                type="tel"
                placeholder="Phone Number"
                required
        />
        <label for="phone">Phone Number</label>
    </div>
    <div class="form-floating">
              <textarea
                      class="form-control pl-0"
                      id="message"
                      name="message"
                      placeholder="Message"
                      required
                      style="height: 10rem"
              ></textarea>
        <label for="message">Message</label>
    </div>
    <br/>
    <button
            class="btn btn-primary text-uppercase"
            id="submitButton"
            type="submit"
    >
        Send Message
    </button>
</form>
</div>