<div class="col py-2">
    <ul class="list-inline text-center">
        <li class="list-inline-item px-3">
            <a href="https://github.com/thomas-engels" target=”_blank”><i
                    class="fa-brands fa-github fa-2xl" style="color: #1E90FF;"
                    onmouseover="this.style.color='#06FF00';"
                    onmouseout="this.style.color='#1E90FF';"></i></a>
        </li>
        <li class="list-inline-item px-3">
            <a href="https://www.linkedin.com/in/thomas-engels-pm-developer/" target=”_blank”><i
                    class="fa-brands fa-linkedin fa-2xl" style="color: #1E90FF;"
                    onmouseover="this.style.color='#06FF00';"
                    onmouseout="this.style.color='#1E90FF';"></i></a>
        </li>
        <li class="list-inline-item px-3">
            <a href="https://tommys-blog.onrender.com/about" target=”_blank”><i
                    class="fa-solid fa-user fa-2xl" style="color: #1E90FF;"
                    onmouseover="this.style.color='#06FF00';"
                    onmouseout="this.style.color='#1E90FF';"></i></a>
        </li>
    </ul>
    <div class="small text-center text-muted fst-italic">Copyright &copy; Thomas Engels 2024</div>
</div>