{% include "header.html" %}
{% from "bootstrap5/form.html" import render_form %}
{% block content %}
{% if scroll_to == 'main-section' %}
<script>
    window.onload = function() {
        document.getElementById('main-section').scrollIntoView();
    };
</script>
{% endif %}
<header
        class="masthead"
        style="background: black"
>
<!--        linear-gradient(to right, #FF1700, #FF8E00, #FFE400, #06FF00);"-->
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-9">
                <div class="site-heading">
                    <h1>Passwords vs Hackers</h1>
                    <span class="subheading">scroll down to see how your passwords can always win</span>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-9">
            <div class="card">
                <div class="card-header"><h2>What is Password Cracking?</h2></div>
                <div class="card-body">
                    <div class="card-text">
                        <div id="accordion">
                <div class="card explanations">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link pl-0" data-toggle="collapse" data-target="#collapseOne"
                                    aria-expanded="true" aria-controls="collapseOne">
                                <i class="fa-solid fa-1 fa-2xl pr-2"></i>
                                The Fundamentals...
                            </button>
                        </h5>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <p>First, you must first understand the two characteristics of a password: the allowable
                                characters
                                (^%$[.🔋#AzrR5❤️💎...) and your chosen length (8 to 20 typically).
                                Together these characteristics determine the difficulty of cracking the password. More
                                allowable characters, harder to crack. Longer password, extremely hard to crack! Why?
                                Simply raise the number of allowable characters to the power of the password length to
                                determine the number of possible passwords... you'll need a calculator for these massive numbers.
                                Or you can use my calculator and table below!
                            </p>
                            <p>
                                Secondly, you must understand what companies and websites do after you create your
                                password. If they're a quality service, they likely transform your password using a complex, deterministic,
                                "one-way" function that results in a 64-character list of seemingly random numbers and
                                letters. This long random string is called the password hash, which is then stored on the company's servers.
                                In fact, they should never know your plain-text password, only your password hash.
                            </p>
                            <p>
                                For the technically curious, I recommend this article explaining the nuances between hashing, encryption, and salting: <a href="https://www.thesslstore.com/blog/difference-encryption-hashing-salting/">https://www.thesslstore.com/blog/difference-encryption-hashing-salting/</a>).
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card explanations">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link p-0" data-toggle="collapse" data-target="#collapseTwo"
                                    aria-expanded="true" aria-controls="collapseTwo">
                                <i class="fa-solid fa-2 fa-2xl pr-2"></i>
                               Adding context...
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            <p>
                                Let's assume your favorite company just suffered a major data breach (e.g., TicketMaster
                                in June 2024) and the hackers stole millions of users password hashes.
                                The hackers have two choices now: sell the password hashes on the dark web or start
                                doing lots of math. By "Math", I'm referring to hackers generating millions and
                                millions of password hashes with the hope of finding a match from the data breach's
                                hashes.
                                If a match is found, then the hacker simply looks at what plain-text password generated
                                the matching hash and boom--password cracked!
                                This is "Password Cracking": generating password hashes and discovering matches from the
                                data breach.
                            </p>
                            <p>
                                After finding a match, the hacker's computer program will attempt to log in to hundreds
                                of websites using with your username and password.
                                If they successfully log in to a website, you've officially been hacked. And if you
                                re-used that password, well you just made the hacker extra happy.
                                Don't reuse any passwords.
                            <p>
                                In many cases, the hackers will prioritize generating hashes for the minimum password
                                requirement types; e.g., TicketMaster requires an 8-character password
                                containing at least 1 number and 1 letter. If you're a normal person, your passwords
                                likely do not exceed these minimum requirements
                                because it's convenient. Given the time and cost to generate hashes, hackers
                                thus may only focus on these minimum requirements when generating their hashes.
                                If TicketMaster is using one of the most secure password encryption algorithms (bcrypt),
                                it will take roughly 12 days to generate EVERY password hash with less than $2M.
                                If TickerMaster is using a less secure, yet common encryption algorithm (MD5), it will
                                take less than 1 second to generate EVERY password hash for less than $2K.
                            </p>
                            <p>
                                As a TicketMaster customer, should I be concerned? This depends on the length of my
                                password. If my password is 8 characters, yes I should be concerned and need to reset my
                                password.
                                If my password is long (15 to 20 characters), I could reset my password to be extra
                                careful but cracking my password will take forever so the hackers won't even bother.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card explanations">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link p-0" data-toggle="collapse" data-target="#collapseThree"
                                    aria-expanded="true" aria-controls="collapseThree">
                                <i class="fa-solid fa-3 fa-2xl pr-2"></i>
                                Do Something About It...
                            </button>
                        </h5>
                    </div>

                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            <p>
                                So what's the takeaway? Long passwords (15-20) and NEVER re-using them will make you
                                highly resilient to hackers. Cracking such a long password simply isn't worth the hacker's time and money.
                                And even if they manage to crack it, their access will be limited to a single service.
                            </p>
                            <h5>How do you always generate long passwords and NEVER re-use them?</h5>
                            <h5 style="color: green;">A Password Manager!</h5>
                            <p>
                                KeeperSecurity (<a href="https://www.keepersecurity.com/">https://www.keepersecurity.com/</a>) is my preferred Password Manager.
                                At less than $3 per month, I enjoy advanced encryption standards, dark web monitoring, integrations to every OS and device,
                                off-the-grid/airplane mode usage, family plans, and numerous other security benefits.
                                To find the best fit for you, I recommend you research a few other excellent Password Managers like
                                <a href="https://1password.com/">https://1password.com/</a>,
                                <a href="https://bitwarden.com/">https://bitwarden.com/</a>, and <a href="https://nordpass.com/">https://nordpass.com/</a>.
                            </p>
                            <p>
                                The peace of mind is invaluable, plus you’re not wasting your time resetting passwords.
                                Please please please help make the internet safer for everyone by using a Password Manager.
                            </p>
                            <p>
                                <em>Disclaimer: This not an advertisement for Keeper and I am not being paid by Keeper to endorse them on my website.</em>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center my-2">
        <div class="col-md-9">
            <hr>
        </div>
    </div>
    <div class="row d-flex justify-content-center my-2">
        <div class="col-md-9">
            <div class="card">
                <div class="card-header"><h2>Time and Cost To Crack Passwords</h2></div>
                <div class="card-body bg-dark">
                    <h5 class="card-title bg-light p-2 rounded" id="table-form">
                        {{ render_form(form, novalidate=True, button_map={"search": "primary"}) }}
                    </h5>
                    <table border="1" class="dataframe table table-bordered table-dark table-responsive p-2 rounded">
                        <a id="main-section"></a>
                        <thead>
                            <tr style="text-align: center;">
                                <th style="min-width: 3px;">Password Length</th>
                                <th style="min-width: 3px;">1 GPUs | cost $1,600</th>
                                <th style="min-width: 3px;">10 GPUs | cost $16,000</th>
                                <th style="min-width: 3px;">100 GPUs | cost $160,000</th>
                                <th style="min-width: 3px;">1000 GPUs | cost $1.6M</th>
                            </tr>
                        </thead>
                        {{ table_body | safe }}
                    </table>
                </div>
                <div class="card-footer">
                    <h3>Assumptions and Limitations:</h3>
                    <ul>
                        <li>Table inspired by <a href="https://www.hivesystems.com/blog/are-your-passwords-in-the-green">Hive Systems Annual Table</a>, but I wanted to make a dynamic version :)</li>
                        <li>Green Passwords are not un-crackable; as GPUs continue to become more efficient with bitwise and integer computations, the time to crack will decrease.
                            Thus, ensuring you're in the green minimizes your risk even in the face of major GPU advancements.</li>
                        <li>Password types and respective character counts:
                            <ul>
                                <li>Numbers Only - 10</li>
                                <li>Letters Only - 52 </li>
                                <li>Numbers and Letters - 62 </li>
                                <li>Numbers, Letters, and Special Characters ( ^*%$!&@# ) - 70</li>
                            </ul>
                        </li>
                        <li>Hash-Speed is entirely dependent on the password hashing algorithm, the chosen GPU, and several other factors.</li>
                        <li>A consumer-accessible Tier-1 GPU retails for $1,600; e.g., NVIDIA RTX 4090. </li>
                        <li>From what I could find on the internet, the NVIDA RTX 4090 achieves the following benchmarks:
                            <ul>
                                <li><a
                                        href="https://gist.github.com/Chick3nman/32e662a5bb63bc4f51b847bb422222fd">bcrypt(factor
                                    5) - 191,000 H/Sec</a></li>
                                <li><a
                                        href="https://www.synercomm.com/blog/password-hash-cracking-with-the-nvidia-rtx-4090/">NTLM
                                    - 252,000,000,000 H/Sec</a></li>
                                <li><a
                                        href="https://www.hivesystems.com/blog/are-your-passwords-in-the-green-2023?utm_source=2024post">MD5
                                    - 164,100,000,000 H/Sec</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center my-2">
        <div class="col-md-9">
            <hr>
        </div>
    </div>
    <div class="row justify-content-around my-2">
        <div class="col-md-9 code-snippet">
            <div class="card pb-0">
                <div class="card-header">
                    Preview of my code & math behind the table
                </div>
                <div class="card-body bg-dark" >
<pre><code class="language-python" style="color: #06FF00;">
def get_cracking_time_years(char_count: int, password_length: int, hash_rate: int, gpu_count: int) -> float:
    hash_rate = hash_rate * gpu_count
    return round(((char_count**password_length)/hash_rate)/60/60/24/365, 4)
</code></pre>
                </div>
                <div class="card-footer">
                    See all my code on GitHub: <a href="https://github.com/thomas-engels/password_size_matters">
                        https://github.com/thomas-engels/password_size_matters</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-9">
            <hr>
        </div>
    </div>
    <div class="row justify-content-center mt-0">
        <div class="col-md-9 contact">
            {% include "contact.html" %}
        </div>
    </div>
</div>
<hr>
<div class="row justify-content-center">
    {% include "footer.html" %}
</div>
{% endblock %}